{{ register_asset_bundle('app/assets/AppAsset') }}
{{ void(this.beginPage()) }}

{{ use('yii/widgets') }}

<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/build/css/style.css">
        <title>{{ html.encode(this.title) }}</title>
        {{ html.csrfMetaTags | raw }}
        
        {{ void(this.head) }}
    </head>
    <body>

        {{ void(this.beginBody()) }}

        <div class="wrap">
            {{ nav_bar_begin({
                'innerContainerOptions': {'class': 'container-fluid'},
                'brandLabel': app.name,
                'brandUrl' : app.homeUrl,
                'options' : {
                    'class' : 'rs-navbar navbar-expand-lg fixed-top',
                }
            }) }}

            {% set menuItems = [] %}

            {% if app.user.isGuest == false %}
                {% set menuItems = menuItems|merge([
                    {'label' : '<i class="fas fa-truck"></i> Поставщики', 'url' : ['/supplier/index'],'options': {'class': 'd-lg-none'} },
                    {'label' : '<i class="fas fa-briefcase"></i> Заказы', 'url' : ['/order/index'],'options': {'class': 'd-lg-none'} },
                    {'label' : '<i class="fas fa-handshake"></i> Партнёры', 'url' : ['/partner/index'],'options': {'class': 'd-lg-none'} },
                    {'label' : '<i class="fas fa-file-alt"></i> Отчёты', 'url' : ['/report/index'],'options': {'class': 'd-lg-none'} },
                    {'label' : '<i class="fas fa-apple-alt"></i> Товары', 'url' : ['/product/index'],'options': {'class': 'd-lg-none'} },
                    {'label' : '<i class="fas fa-store-alt"></i> Склад', 'url' : ['/storage/index'],'options': {'class': 'd-lg-none'} },

                    {'label' : '<i class="far fa-address-card"></i> Профиль', 'url' : ['profile/index']},
                    {'label' : '<i class="fas fa-users-cog"></i> Управление пользователями', 'url' : ['/profile/users']},
                    {'label' : '<i class="fas fa-cog"></i> Настройки', 'url' : ['/setting/index']},
                    {
                        'label' : '<i class="fas fa-door-open"></i> (' ~ app.user.identity.username ~ ')',
                        'url' : ['/site/logout'],
                        'linkOptions' : {'data-method' : 'post'}
                    }
                ]) %}

            {% else %}

                {% set menuItems = menuItems|merge([
                    {'label' : 'Личный кабинет', 'url' : ['/site/login']},
                ]) %}

            {% endif %}

            {{ nav_widget({
                'options': {
                    'class': 'navbar-nav ml-auto',
                },
                'encodeLabels': false,
                'items': menuItems
            }) }}

            {{ nav_bar_end() }}
      
            {% if app.user.isGuest == false %}
                <div class="container-fluid">
                    <div class="d-md-flex">

                        <nav class="nav d-none d-lg-block sidebar mr-4">
                        {% set menuItems = [
                            {'label' : '<i class="fas fa-truck"></i> Поставщики', 'url' : ['/supplier/index']},
                            {'label' : '<i class="fas fa-briefcase"></i> Заказы', 'url' : ['/order/index']},
                            {'label' : '<i class="fas fa-handshake"></i> Партнёры', 'url' : ['/partner/index']},
                            {'label' : '<i class="fas fa-file-alt"></i> Отчёты', 'url' : ['/report/index']},
                            {'label' : '<i class="fas fa-apple-alt"></i> Товары', 'url' : ['/product/index']},
                            {'label' : '<i class="fas fa-store-alt"></i> Склад', 'url' : ['/storage/index']}
                            
                        ] %}

                        {{ nav_widget({
                            'options': {
                                'class': 'd-block sidebar-sticky bg-white pb-5',
                            },
                            'encodeLabels': false,
                            'items': menuItems
                        }) }}
                        </nav>


                        <main class="flex-fill ml-sm-auto">

                            {{ breadcrumbs_widget({
                                'links' : this.params['breadcrumbs'] ? this.params['breadcrumbs'] : [],
                                'homeLink': {'label': 'Главная', 'url': '/'},
                                'options': {
                                    'class': 'bg-white mb-4'
                                }
                            }) | raw }}

                            {% if ( app.session.hasFlash('success') ) %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ app.session.getFlash('success') }}
                                </div>
                            {% endif %}

                            {% if ( app.session.hasFlash('error') ) %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    {{ app.session.getFlash('error') }}
                                </div>
                            {% endif %}

                            {{ content | raw }}
                        </main>

                    </div>
                </div>
        {% else %}
            <div class="container-fluid">
                <div class="row flex-xl-nowrap">
                    <main class="col-md-12 py-md-3 pl-md-5 bd-content">
                        {{ content | raw}}
                    </main>
                </div>
            </div>
        {% endif %}
        </div>

        <footer class="navbar navbar-light bg-light mt-4">
            <div class="container-fluid">
                <div class="pull-left mt-2 mb-2">{{ app.name | raw }} &copy;{{ 'now'|date('Y') }}</div>
                <div class="pull-right">{{ Yii.powered() | raw }}</div>
            </div>
        </footer>

        {# <script src="https://kit.fontawesome.com/a4eb6dc731.js" crossorigin="anonymous"></script> #}

        {{ void(this.endBody()) }}
    </body>
</html>
{{ void(this.endPage()) }}