{# {{ use('yii/widgets/Pjax') }} #}

{{ set(this, 'title', 'Склад') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

<div class="storage-index h-100">

    {# {{ pjax_begin() }} #}

        <div class="bg-white mb-4 h-100">

            <div class="row">
                <div class="col-md-6">

                    {% if bitumen %}
                        <div class="bitumen">
                            <div class="bitumen__title">Общее количество битума на складе</div>
                            <div class="bitumen__top">
                                <div class="bitumen__wrapper bitumen__wrapper--all">
                                    <div class="bitumen__count-all" style="width: {{app.formatter.asPercent(bitumen.total.percent)}}">
                                        <span class="bitumen__text">
                                            {{app.formatter.asPercent(bitumen.total.percent)| raw}} ({{app.formatter.asInteger(bitumen.total.count) | raw}}т.)
                                        </span>
                                    </div>
                                </div>
                                <small>Объём 300т.</small>
                            </div>

                            <div class="row bitumen__alone">

                                {% for container in bitumen.containers %}
                                    <div class="col-md-2">
                                        <div class="bitumen__wrapper bitumen__wrapper--alone" style="height: {{container.volume}}%">
                                            <div class="bitumen__count-alone" style="height: {{(container.count * 100 / container.volume) | round}}%">

                                                <span class="bitumen__text">
                                                    <nowrap>{{ (container.count * 100 / container.volume) |round }}% ({{container.count}}т.)</nowrap>
                                                </span>
                                            </div>
                                        </div>
                                        <small>Объём {{container.volume }}т.</small>
                                    </div>
                                {% endfor %}
                            
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-primary" role="alert">
                            Необходимо настроить битум
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <div class="material">
                        <div class="material__title">Общее количество материала на складе</div>
                        <div class="material__wrapper">
                            <div class="material__count-all" style="height: {{material.percent * 100 | round}}%">
                                <span class="material__text">
                                    {{app.formatter.asPercent(material.percent)}} ({{app.formatter.asInteger(material.count)}}т.)
                                </span>
                            </div>
                        </div>
                        <small>Объём 10 000т.</small>
                    </div>
                </div>
            </div>

        </div>

    {# {{ pjax_end() }} #}

</div>
