{# {{ use('yii/widgets/Pjax') }} #}

{{ set(this, 'title', 'Склад') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

<div class="storage-index">

    {# {{ pjax_begin() }} #}

        <div class="bg-white mb-4">
            <canvas height='320' width='480' id='example'>Обновите браузер</canvas>
        </div>

    {# {{ pjax_end() }} #}

</div>

<script>
    var example = document.getElementById("example");
	var ctx = example.getContext('2d');
     {#    ctx.strokeStyle = '#B70A02'; // меняем цвет рамки
        
        ctx.strokeRect(15, 15, 266, 266);
        ctx.strokeRect(18, 18, 260, 260);

        ctx.fillStyle = '#AF5200'; // меняем цвет клеток
        ctx.fillRect(20, 20, 256, 256);

        ctx.font = "30px Comic Sans MS";
        ctx.textAlign = "center";
        ctx.fillStyle = "#ffffff";
        ctx.fillText("Fill text", 266/2, 266/2); #}

        {# ctx.beginPath();
        ctx.moveTo(x + radius, y);
        ctx.lineTo(x + width - radius, y);
        ctx.arc(x+width-radius, y+radius, radius, -Math.PI/2, Math.PI/2, false);
        ctx.lineTo(x + radius, y + height);
        ctx.arc(x+radius, y+radius, radius, Math.PI/2, 3*Math.PI/2, false);
        ctx.closePath();
        ctx.fill(); #}
</script>