{# {{ use('yii/widgets/Pjax') }} #}

{{ set(this, 'title', 'Склад') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

<div class="storage-index">

    {# {{ pjax_begin() }} #}

        <div class="bg-white mb-4">

            <div class="row">
                <div class="col-md-6">
                    <div class="bitumen">
                        <div class="bitumen__title">Общее количество битума на складе</div>
                        <div class="bitumen__wrapper bitumen__wrapper--all">
                            <div class="bitumen__count-all" style="width: {{app.formatter.asPercent(bitumen.total.procent)}}">
                                <span class="bitumen__text">
                                    {{app.formatter.asPercent(bitumen.total.procent)}} ({{app.formatter.asInteger(bitumen.total.count)}}т.)
                                </span>
                            </div>
                        </div>

                        <div class="row bitumen__alone">

                            {% for container in bitumen.containers %}
                                <div class="col-md-2">
                                    <div class="bitumen__wrapper bitumen__wrapper--alone" style="height: {{container.volume}}%">
                                        <div class="bitumen__count-alone" style="height: {{container.count}}%">

                                            <span class="bitumen__text">
                                                <nowrap>{{ container.count }}% ({{container.volume}}т.)</nowrap>
                                                {# {{bitumen.alone.100}}% ({{bitumen.alone.100}}т.) #}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="material">
                        <div class="material__title">Общее количество материала на складе</div>
                        <div class="material__wrapper">
                            <div class="material__count-all" style="height: {{app.formatter.asPercent(material.percent)}}">
                                <span class="material__text">
                                    {{app.formatter.asPercent(material.percent)}} ({{app.formatter.asInteger(material.count)}}т.)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {# {{ pjax_end() }} #}

</div>
