{# 
/* @var $this yii\web\View */
/* @var $searchModel app\models\OrderSearch */
/* @var $dataProvider yii\data\ActiveDataProvider */ 
#}

{{ use('yii/grid/GridView') }}
{{ use('yii/widgets/Pjax') }}

{{ set(this, 'title', 'Заказы') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

{{ this.registerJsFile('@web/js/change-status.js', {'depends': 'yii\\web\\JqueryAsset'}) }}

<div class="order-index">

    {{ pjax_begin() }}

        <div class="bg-white mb-4">
            <div class="row">
                <div class="col-md-8"> 
                    {% if model.products and model.partners %}
                        <button class="btn btn-outline-success btn-sm d-none d-md-block" data-toggle="modal" data-target="#createOrder">Добавить заказ</button>
                    {% else %}
                        <div class="alert alert-primary" role="alert">
                            Для добавления заказа необходимо создать {{ model.partners ? 'товары' : model.products ? 'партнёров' : 'товары и партнёров' }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4"> 
                    {{ this.render('_search.twig', {model: searchModel}) | raw}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                {% if model.products and model.partners %}
                    <a href="/order/create" class="btn btn-outline-success btn-sm d-md-none w-100" >Добавить заказ</a>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="bg-white">

            {{ grid_view_widget({
                    'dataProvider': dataProvider,
                    'options': {
                        'class': 'table-responsive'
                    },
                    'tableOptions': {
                        'class': 'table table-sm table-striped table-bordered' 
                    },
                    'columns': [
                        {'class': 'yii\\grid\\SerialColumn'},
                        
                        {'attribute': 'date', 'format': ['date', 'php:d.m.Y']},
                        'partner.name',
                        'product.name',
                        'bill',
                        {'attribute': 'count', 'format': ['integer']},
                        {'attribute': 'price', 'format': ['currency']},
                        {'attribute': 'sum', 'format': ['currency']},
                        'payment',
                        {
                            'attribute': 'status',
                            'format': 'raw',
                            'value': 'htmlStatus'
                        },
                        {
                            'class': 'yii\\grid\\ActionColumn',
                            'header': '',
                            'template': '{view} {update} {delete}'
                        },
                    ]
                })
            }}

        </div>

    {{ pjax_end() }}

</div>


<!-- Modal -->
<div class="modal fade" id="createOrder" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Добавить заказ</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
             {{ this.render('_form.twig', {model: model}) | raw}}
        </div>
    </div>

  </div>
</div>
