{{ use('yii/widgets/Pjax') }}

{{ set(this, 'title', 'Отчёт') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

{{ this.registerJsFile('@web/js/registry.js', {'depends': 'yii\\web\\JqueryAsset'}) }}

<div class="report-index">

    {{ pjax_begin() }}

        <div class="bg-white mb-4">

            <div class="row">
                <div class="col-md-10">
                    {{ this.render('_search.twig', {
                        partners: partners,
                        date_start: date_start,
                        date_end: date_end
                    }) | raw}}
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" id="registry" class="btn btn-outline-info d-block btn-sm w-100">Реестр отгрузки в pdf</a>
                    </div>
                </div>
            </div>

        </div>

        {% if nettings %}
        <div class="bg-white mb-4 table-responsive">
            <table class="table table-sm table-hover table-bordered" >
                <caption>{{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по взаимозачётам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}"</caption>
                <thead>
                    <tr>
                        <th>Партнёр</th>
                        <th>Продукт</th>
                        <th>Количество продано</th>
                        <th>Цена продажи</th>
                        <th>Количество куплено</th>
                        <th>Цена покупки</th>
                        <th>Остаток по счёту</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partnName, netting in nettings %}
                        <tr>
                            <td rowspan="{{ netting|length }}">{{ partnName }}</td>
                            {% for prodName, product in netting %}

                                {% if loop.index > 1 %}
                                    <tr>
                                {% endif %}

                                <td>{{ prodName }}</td>
                                <td>{{ app.formatter.format(product.countSale, 'integer') | raw }}</td>
                                <td>{{ app.formatter.asCurrency(product.priceSale) | raw }}</td>
                                <td>{{ app.formatter.format(product.countBuy, 'decimal') | raw }}</td>
                                <td>{{ app.formatter.asCurrency(product.priceBuy) | raw }}</td>
                                <td>
                                    {% if product.result > 0 %}
                                        <span style="color: green">{{ app.formatter.asCurrency(product.result) | raw }}</span>
                                    {% else %}
                                        <span style="color: red">{{ app.formatter.asCurrency(product.result) | raw }} </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <div class="bg-white mb-4 table-responsive">

            {% if products %}
                <table class="table table-sm table-striped table-bordered" >
                    <caption>{{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по материалам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}"</caption>
                    <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Количество продано</th>
                            <th>Доход</th>
                            <th>Количество куплено</th>
                            <th>Расход</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for key, product in products %}

                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ app.formatter.format(product.countSale, 'integer') | raw }}</td>
                            <td>{{ app.formatter.asCurrency(product.priceSale) | raw }}</td>
                            <td>{{ app.formatter.format(product.countBuy, 'decimal') | raw }}</td>
                            <td>{{ app.formatter.asCurrency(product.priceBuy) | raw }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary" role="alert">
                    {{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по материалам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}" не найден
                </div>
            {% endif %}
        </div>

        <div class="bg-white mb-4 table-responsive">
            {% if orders %}
                <table class="table table-sm table-striped table-bordered" >
                    <thead>
                        <caption>{{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по заказам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}"</caption>
                        <tr>
                        <th>Дата</th>
                        <th>Партнёр</th>
                        <th>Товар</th>
                        <th>Тип оплаты</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for order in orders %}
                            <tr>
                                <td>{{ order.date | date('d.m.Y') }}</td>
                                <td>{{ order.partner.name }}</td>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.payment }}</td>
                                <td>{{ app.formatter.format(order.count, 'decimal') | raw }}</td>
                                <td>{{ app.formatter.asCurrency(order.sum) | raw }}</td>
                            </tr> 
                        {% endfor %}
                                
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary" role="alert">
                    {{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по заказам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}" не найден
                </div>
            {% endif %}
        </div>

         <div class="bg-white mb-4 table-responsive">
            {% if suppliers %}
                <table class="table table-sm table-striped table-bordered" >
                    <thead>
                        <caption>{{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по поставщикам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}"</caption>
                        <tr>
                        <th>Дата</th>
                        <th>Партнёр</th>
                        <th>Товар</th>
                        <th>Тип оплаты</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for supplier in suppliers %}
                            <tr>
                                <td>{{ supplier.date | date('d.m.Y') }}</td>
                                <td>{{ supplier.partner.name }}</td>
                                <td>{{ supplier.product.name }}</td>
                                <td>{{ supplier.payment }}</td>
                                <td>{{ app.formatter.format(supplier.count, 'decimal') | raw }}</td>
                                <td>{{ app.formatter.asCurrency(supplier.sum) | raw }}</td>
                            </tr> 
                        {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary" role="alert">
                    {{app.request.get('partner') ? 'Индивидуальный отчёт' : 'Общий отчёт'}} по поставщикам с "{{ date_start | date('d.m.Y') }}" по "{{ date_end | date('d.m.Y') }}" не найден
                </div>
            {% endif %}
        </div>

    {{ pjax_end() }}

</div>