{{ set(this, 'title', 'Рабочий стол') }}

{{ use('yii/widgets/Pjax') }}

<div class="site-index">

    <div class="bg-white">

        <div class="row">

            <div class="col-md-5 mb-4">
                {{ pjax_begin() }}

                <div class="site-index__content">
                    <div class="site-index__text" >
                        <div class="site-index__author">{{ author }}</div>
                        <div>{{ text }}</div>
                    </div>
                
                    <div class="site-index__controll">
                        <a href="/site/index" class="btn btn-outline-primary" id="nextText">Показать ещё</a>
                    </div>
                </div>

                 {{ pjax_end() }}
            </div>

            <div class="col-md-7">
                <div class="site-index__media"> 
                    <video id="example" class="site-index__video" loop="loop" muted="muted" autoplay >
                        <source type="video/mp4" src="/uploads/video/film.mp4" >
                    </video>
                </div>
            </div>
        </div>

    </div>
</div>

{# <script src="js/drag-and-drop.js"></script> #}



<style>
    {# .video-main { 
        position: fixed;
        top: 0px;	
        left: 0;
        width: 100%;
        z-index: -1;
        background: #000;
        margin-bottom: -21px;
    }

    .video-main video {
        width: 100%;
    } #}
</style>

