{{ set(this, 'title', 'Рабочий стол') }}

{{ use('yii/widgets/Pjax') }}
{{ this.registerJsFile('@web/js/clock.js', {'depends': 'yii\\web\\JqueryAsset'}) }}

<div class="site-index">

    <div class="bg-white">

        <div class="row">

            <div class="col-md-5 mb-4">

                <div class="mb-4">
                    <div class="card bg-primary text-white">
                        <h3 class="card-title text-center">
                            
                            <div class="d-flex flex-wrap justify-content-center mt-2">
                                <a><span class="badge hours"></span></a> :
                                <a><span class="badge min"></span></a> :
                                <a><span class="badge sec"></span></a>
                                <a><span class="badge" id="date"></span>
                            </div>
                        </h3>
                    </div>
                </div>

                {{ pjax_begin() }}

                <div class="site-index__content">
                    <div class="site-index__text" >
                        <div class="site-index__author">{{ author }}</div>
                        <div>{{ text }}</div>
                    </div>
                
                    <div class="site-index__controll">
                        {# <a href="/site/index" class="btn btn-outline-primary" id="nextText">Показать ещё</a> #}
                        {{ html.a('Показать ещё', ['index'], {'id': 'nextText', 'class': 'btn btn-outline-primary'}) | raw }}
                    </div>
                </div>

                 {{ pjax_end() }}
            </div>

            <div class="col-md-7">
                <div class="site-index__media"> 
                    <video id="example" class="site-index__video" loop="loop" muted="muted" autoplay >
                        <source type="video/mp4" src="/uploads/video/film.mp4" >
                    </video>
                </div>
            </div>
        </div>

    </div>
</div>
