{{ set(this, 'title', 'Рабочий стол') }}

{{ use('yii/widgets/Pjax') }}

<div class="site-index">

    <div class="bg-white">

        <div class="row">

            <div class="col-md-7">

            </div>

            <div class="col-md-5 mb-4">
                <div class="card">
                    <div class="card-header">
                        Список долгов по заказам
                    </div>
                    <div class="card-body">
                        {% if debtors %}
                            <ul class="list-group">
                                {% for debtor in debtors %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ debtor.name }}
                                        <span class="badge badge-danger badge-pill">{{app.formatter.asCurrency(debtor.sum)|raw}}</span>
                                    </li>
                                {% endfor %}
                        {% else %}
                            <div class="card-title text-success">Долгов нет</div>
                        {% endif %}
                    </div>
                </div>

                {{ pjax_begin() }}

                {# <div class="site-index__content">
                    <div class="site-index__text" >
                        <div class="site-index__author">{{ author }}</div>
                        <div>{{ text }}</div>
                    </div>
                
                    <div class="site-index__controll">
                        {{ html.a('Показать ещё', ['index'], {'id': 'nextText', 'class': 'btn btn-outline-primary'}) | raw }}
                    </div>
                </div> #}

                 {{ pjax_end() }}
            </div>

            <div class="col-md-7">
                <div class="site-index__media"> 
                    <video id="example" class="site-index__video" loop="loop" muted="muted" autoplay >
                        <source type="video/mp4" src="/uploads/video/film.mp4" >
                    </video>
                </div>
            </div>
        </div>

    </div>
</div>
