
{# 
/* @var $this yii\web\View */
/* @var $model app\models\Partner */
/* @var $form yii\widgets\ActiveForm */
#}

{{ use('yii/bootstrap4/ActiveForm') }}

<div class="зфкетук-form">

    {% set form = active_form_begin() %}

    <div class="row">
        <div class="col-md-4">
            {{ form.field(model, 'name').textInput({'placeholder': 'Введите название'}) | raw }}
        </div>
        <div class="col-md-4">
             {{ form.field(model, 'phone').widget('yii\\widgets\\MaskedInput', {'mask': '+9 (999) 999-99-99'}).textInput({'placeholder': 'Введите телефон'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'email').textInput({'placeholder': 'Введите email'}) | raw }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form.field(model, 'site').textInput({'placeholder': 'Введите сайт'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'contact_name').textInput({'placeholder': 'Введите Ф.И.О. контакта'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'director_name').textInput({'placeholder': 'Введите Ф.И.О. директора'}) | raw }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            {{ form.field(model, 'inn').textInput({'placeholder': 'Введите ИНН'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'kpp').textInput({'placeholder': 'Введите КПП'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'account_number').textInput({'placeholder': 'Введите номер р/счёта'}) | raw }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form.field(model, 'address').textInput({'placeholder': 'Введите адрес'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'legal_address').textInput({'placeholder': 'Введите юридический адрес'}) | raw }}
        </div>
        <div class="col-md-4">
            {{ form.field(model, 'comment').textarea({'placeholder': 'Комментарий', 'rows':'1'}) | raw }}
        </div>
    </div>

     <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-success d-block " />
    </div>

    {{ active_form_end() }} 

</div>


